<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Cat Database</title>
  </head>
  <body>
    <h1>Cat Database</h1>
    <form method="post" action="/">
      <input type="text" name="text" placeholder="Add Cat Name" />
      <input type="text" name="color" placeholder="Cat Color" />
      <input type="text" name="age" placeholder="Cat Age" />
      <button>Add Cat</button>
    </form>
    <ul>
      {{cats}}
    </ul>
    <form action="/new" method="post">
     Cat</button>

      <input
    </form>
  </body>
</html>
